<div id="localstorageServiceDemoView">
    <div class="app-site-heading">
        <div class="app-site-heading-container">
            <h1 class="text-center app-site-heading-title">LocalStorageService</h1>
            <button type="button" class="btn btn-xs btn-primary" ng-click="lsvm.clearAll()">Clear LocalStorage</button>
            <button type="button" class="btn btn-xs btn-primary" ng-click="lsvm.log()">Log</button>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-5">
            <div class="input-group">
                <div class="input-group-addon">Prefix</div>
                <input type="text" class="form-control" ng-model="lsvm.prefix" ng-readonly="true">
            </div>
            <div class="gap-sm">
                &nbsp;
            </div>
            <p class="alert text-center"><span class="badge">1</span>&nbsp;Einen neuen Key in die Liste aufnehmen</p>
            <form style="margin: 10px 0;">
                <div class="input-group">
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="lsvm.key">
                    <span class="input-group-btn">
                        <button class="btn" type="submit" ng-click="lsvm.addKey(lsvm.key, $event)"><span class="glyphicon glyphicon-plus"></span>&zwj;</button>
                    </span>
                </div>
            </form>

            <p class="alert text-center"><span class="badge">2</span>&nbsp;Liste der im LocalStorage verfügbaren Key/Value-Paare</p>
            <form class="form-horizontal" ng-submit="lsvm.storeValue(value)" style="background:#EEE; border-radius:4px; padding: 10px;" >
                <div class="form-group">
                    <label class="col-sm-2 control-label">Key</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-options="val for (key,val) in lsvm.constants.localstorage" ng-model="lsvm.selected" ng-change="lsvm.doChange(lsvm.selected)"></select>
                    </div>
                    <div class="col-sm-2">
                        <button ng-show="lsvm.currentKey" class="form-control" href="" ng-click="lsvm.deleteKey(lsvm.currentKey)"><span class="glyphicon glyphicon-remove-sign"></span></button>
                    </div>
                </div>
            </form>

            <p class="alert text-center"><span class="badge">3</span>&nbsp;Neuen Wert für das ausgewählte Key/Value-Paar setzen</p>
            <form class="form-horizontal" ng-submit="lsvm.storeValue(lsvm.value)" style="background:#EEE; border-radius:4px; padding: 10px;" ng-show="!lsvm.isObject(lsvm.value)">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="newValueInput">Value</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="newValueInput" ng-model="lsvm.value" ng-disabled="!lsvm.currentKey">
                    </div>
                </div>
            </form>

            <form class="form-horizontal" ng-submit="lsvm.storeValue(lsvm.value)" style="background:#EEE; border-radius:4px; padding: 10px;" ng-show="lsvm.isObject(lsvm.value)">
                <div class="form-group" ng-repeat="(key, val) in lsvm.value track by $index">
                    <label class="col-sm-4 control-label" for="{{key + 'Input'}}" ng-bind="key"></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="{{key + 'Input'}}" ng-model="lsvm.value[key]">
                    </div>
                </div> 
                <div class="form-group hidden">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="col col-md-7">
            <div class="text-center">
                <div class="btn-toolbar" style="margin:10px 0;">
                    <div class="btn-group btn-group-xs" ng-repeat="obj in lsvm.all">
                        <button type="button" class="btn btn-primary" ng-click="lsvm.loadByKey(obj.key)" ng-bind="obj.key"></button>
                        <button type="button" class="btn btn-danger" ng-click="lsvm.deleteKey(obj.key)">
                            <span class="glyphicon glyphicon-remove-sign"></span>&zwj;
                        </button>
                    </div>
                </div>
            </div>

            <ul class="list-group" ng-show="lsvm.currentKey">
                <li class="list-group-item" style="overflow:hidden;">
                    <div class="row">
                        <div class="col col-md-12 clearfix" style="margin-bottom:10px;">
                            <div class="btn-group btn-group-sm pull-right">
                                <button class="btn btn-primary" ng-click="lsvm.loadByKey(lsvm.currentKey)"><strong>{{lsvm.currentKey}}</strong></button>
                                <button class="btn btn-default" ng-click="lsvm.deleteKey(lsvm.currentKey)"><span class="glyphicon glyphicon-remove-sign"></span>&zwj;</button>
                            </div>
                        </div>
                        <div class="col col-md-12">
                            <pre ng-bind="lsvm.originalValue | json" style="font-weight:bold;"></pre>
                        </div>
                    </div>
                </li>
            </ul>


            <!--            <ul class="list-group">
                            <li class="list-group-item" ng-repeat="obj in lsvm.all" style="overflow:hidden;">
                                <div class="row">
                                    <div class="col col-md-12 clearfix" style="margin-bottom:10px;">
                                        <div class="btn-group btn-group-sm pull-right">
                                            <button class="btn btn-primary" ng-click="lsvm.loadByKey(obj.key)"><strong>{{obj.key}}</strong></button>
                                            <button class="btn btn-default" ng-click="lsvm.deleteKey(obj.key)"><span class="glyphicon glyphicon-remove-sign"></span>&zwj;</button>
                                        </div>
                                    </div>
                                    <div class="col col-md-12">
                                        <pre ng-bind="obj.value | json" style="font-weight:bold;"></pre>
                                    </div>
                                </div>
                            </li>
                        </ul>-->
        </div>
    </div>
</div>